<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inicio del proyecto Primer Spring</title>
</head>
<body>
    <h1>Este es el comienzo de una gran aventura</h1>

    <ul>
        <li><a href="/ubicacion">Enlace a la página de ubicacion</a></li>
        <li><a href="/privacidad">Enlace a la página de privacidad</a></li>
    </ul>
    <h2> Hola <span th:text="${usuario}"></span> </h2>
    <h3 th:text="${mes}">Lo que sea</h3>
    <a href="https://www.marca.com">Resultado</a>
</body>
</html>